<!doctype html>
<html lang="{{ site:short_locale }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ if meta_title }}<title>{{ meta_title }}</title>{{ else }}<title>{{ title }} | {{ site:name }}</title>{{ endif }}
        <meta name="description" content="{{ meta_description }}" />
        <meta property="og:type" content="website" />
        {{ if meta_title }}<meta name="og:title" content="{{ meta_title }}" />{{ else }}<meta name="og:title" content="{{ title }} | {{ site:name }}" />{{ endif }}
        <meta property="og:description" content="{{ meta_description }}" />
        {{ if featured_image }}<meta property="og:image" content="{{ current_url }}{{ featured_image }}">{{ else }}<meta property="og:image" content="{{ current_url }}{{ header:logo }}">{{ endif }}
        <meta property="og:url" content="{{ current_url }}" />
        <meta property="og:locale" content="en" />
        <meta name="twitter:card" content="summary" />
        {{ if meta_title }}<meta name="twitter:title" content="{{ meta_title }}" />{{ else }}<meta name="twitter:title" content="{{ title }} | {{ site:name }}" />{{ endif }}
        <meta name="twitter:description" content="{{ meta_description }}" />
        {{ if featured_image }}<meta property="twitter:image" content="{{ current_url }}{{ featured_image }}">{{ else }}<meta property="twitter:image" content="{{ current_url }}{{ header:logo }}">{{ endif }}
        {{ if noindex_page }}<meta name="robots" content="noindex, nofollow">{{ /if }}
        
        <link rel="stylesheet" href="{{ mix src='css/app.css' }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {{ schema ?? schema }}

        {{ seo:schema_markup ?? seo:schema_markup }}

        {{ scripts:header_scripts ?? scripts:header_scripts }}
    </head>

    <body class="{{ slug }}">
        {{ scripts:body_scripts ?? scripts:body_scripts }}

        {{ partial:nav }}
        {{ template_content }}
        {{ partial:footer }}
        
        <script src="{{ mix src='/js/site.js' }}"></script>

        {{ scripts:footer_scripts ?? scripts:footer_scripts }}
    </body>

</html>