<!doctype html>
<html lang="{{ site:short_locale }}">

    <head>
        <!-- MARKETING SCRIPTS -->
        {{ scripts:head_scripts }}
        
        <!-- SEO -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ meta_description }}" />
        <meta property="og:type" content="website" />
        <meta name="og:title" content="{{ meta_title or title }} | {{ site:name }}" />
        <meta property="og:description" content="{{ meta_description }}" />
        <meta property="og:image" content="{{ current_url }}{{ featured_image or logos:logo }}" />
        <meta property="og:url" content="{{ current_url }}" />
        <meta property="og:locale" content="en" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ meta_title or title }} | {{ site:name }}" />
        <meta name="twitter:description" content="{{ meta_description }}" />
        <meta property="twitter:image" content="{{ current_url }}{{ featured_image or logos:logo }}" />
        {{ if noindex_page }}<meta name="robots" content="noindex, nofollow" />{{ endif }}

        <link rel="canonical" href="{{ canonical_tag or current_url }}" />
        <link rel="alternate" media="only screen and (max-width: 640px)"  href="{{ canonical_tag or current_url }}" />
        {{ schema ?? schema }}
        {{ seo:schema_markup ?? seo:schema_markup }}

        <!-- CAPTCHA -->
        {{ captcha:head }}

        <!-- FAVICON & TITLE -->
        <link rel="icon" href="{{ glide:logos:favicon }}">
        <link rel="apple-touch-icon" href="{{ glide:logos:favicon }}">
        <title>{{ meta_title or title }} | {{ site:name }}</title>
        
        <!-- STYLESHEETS & SCRIPTS -->
        {{ styles:inline_styles }}
    </head>

    <body class="{{ slug }}">
        <!-- MARKETING SCRIPTS -->
        {{ scripts:body_scripts }}

        <!-- CONTENT -->
        {{ partial:nav }}
        {{ template_content }}
        {{ partial:footer }}
    </body>

    <!-- MARKETING SCRIPTS -->
    {{ scripts:footer_scripts }}

    <script src="{{ mix src='/js/globals.js' }}" defer></script>
</html>