<header>
    <nav id="nav">
        <div class="inner-nav">
            <a href="/" class="logo">
                <picture>
                    <source media="(max-width: 559px)" srcset="{{ glide:logos:logo format='webp' quality='100' }}" width="{{ logos:logo:width }}" height="{{ logos:logo:height }}" type="image/webp">
                
                    <img class="logo" src="{{ glide:logos:logo format='webp' quality='100' }}" width="{{ logos:logo:width }}" height="{{ logos:logo:height }}" alt="{{ logos:logo:alt }}">
                </picture>
            </a>
    
            <div class="desktop-nav">
                <div id="top-nav" class="top">
                    <p>TEXT</p>
                </div>
    
                <div class="bottom">
                    {{ nav handle="main_navigation" }}
                        <div id="{{title}}-link">
                            <a href="{{ url }}" class="{{ if is_parent }}has-children{{ /if }}">{{ title }}</a>
        
                            {{ if children }}
                                <div id="{{title}}-dropdown" class="dropdown {{title}}">{{ *recursive children* }}</div>
                            {{ /if }}
                        </div>
                    {{ /nav }}
                </div>
            </div>
    
            <div class="mob-nav">
                <div class="burger">
                    <div class="burger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="mob-menu">
            {{ nav handle="main_navigation" }}
                <div class="accordion">
                    <a {{ if url }}href="{{ url }}"{{ endif }}>{{ title }}</a>
    
                    {{ if children }}
                        <div class="panel">
                            {{ children }}
                                <a href="{{ url }}">{{ title }}</a>
                            {{ /children }}
                        </div>
                    {{ /if }}
                </div>
            {{ /nav }}
    
            <div class="socials">
                {{ if socials:facebook }}
                    <a target="_blank" href="{{ socials:facebook }}"></a>
                {{ endif }}
                {{ if socials:twitter }}
                    <a target="_blank" href="{{ socials:twitter }}"></a>
                {{ endif }}
                {{ if socials:linkedin }}
                    <a target="_blank" href="{{ socials:linkedin }}"></a>
                {{ endif }}
                {{ if socials:instagram }}
                    <a target="_blank" href="{{ socials:instagram }}"></a>
                {{ endif }}
            </div>
    
            <p>{{ footer:copyright }}</p>
        </div>
    </nav>
</header>