<header role="header">
    <nav id="nav">
        <div class="inner-nav">
            <a href="/" class="logo">
                <picture>
                    <source srcset="{{ glide:details:logo width='50px' format='webp' quality='100' }}" type="image/webp">
                
                    <img id="nav-logo" src="{{ glide:details:logo width='100px' quality='100' }}" alt="{{details:logo:alt}}">
                </picture>
            </a>
    
            <div class="desktop-nav">
                <div id="top-nav" class="top">
                    <a>TEXT</a>
                </div>
    
                <div class="bottom">
                    {{ nav handle="main_navigation" }}
                        <li id="{{title}}-link">
                            <a href="{{ url }}" class="{{ if is_parent }}has-children{{ /if }}">{{ title }}</a>
        
                            {{ if children }}
                                <ul id="{{title}}-dropdown" class="dropdown {{title}}">{{ *recursive children* }}</ul>
                            {{ /if }}
                        </li>
                    {{ /nav }}
                </div>
            </div>
    
            <div class="mob-nav">
                <div class="burger">
                    <div id="nav-icon3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="mob-menu">
            {{ nav handle="main_navigation" }}
                <div class="accordion-container">
                    <li class="accordion" id="{{title}}-link">
                        <a href="{{ url }}" class="{{ if is_parent }}has-children{{ /if }}">{{ title }}</a>
        
                        {{ if children }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.83" height="24" viewBox="0 0 14.83 24">
                                <g id="ic_keyboard_arrow_right_48px" transform="translate(-17.17 -11.75)">
                                <path id="Path_12063" data-name="Path 12063" d="M17.17,32.92l9.17-9.17-9.17-9.17L20,11.75l12,12-12,12Z" fill="#111"/>
                                </g>
                            </svg>
                            
                            <ul id="{{title}}-dropdown" class="panel dropdown {{title}}">{{ *recursive children* }}</ul>
                        {{ /if }}
                    </li>
                </div>
            {{ /nav }}
    
            <div class="contact">
                <li class="accordion">
                    <a href="/contact">contact</a>
                </li>
            </div>
    
            <div class="socials">
                <ul class="social-networks spin-icon">
                    <li><a target="_blank" href="{{footer:facebook_link}}" class="icon-facebook"></a></li>
                    <li><a target="_blank" href="{{footer:twitter_link}}" class="icon-twitter"></a></li>
                    <li><a target="_blank" href="{{footer:linkedin_link}}" class="icon-linkedin"></a></li>
                    <li><a target="_blank" href="{{footer:instagram_link}}" class="icon-instagram"></a></li>
                </ul>
            </div>
    
            <p>{{footer:surge_info}}</p>
        </div>
    </nav>
</header>