<main class="faq-archive">

    <!-- TOP CONTENT -->
    <div class="top-content">
        {{ if content }}
            {{ content }}
        {{ /if }}
    </div>
    <!-- END TOP CONTENT -->

    <!-- POST LOOP -->
    <div class="accordion faq-accordion">
        {{ entries sort="date:desc" }}
            <div>
                <div class="question">{{ title }}</div>
                <div class="answer">{{ answer }}</div>
            </div>
        {{ /entries }}
    </div>
    <!-- END POST LOOP -->

</main>