{{ paginate }}
    <div class="pagination">
        <div class="left-side">
            <p>Page {{ current_page }} of {{ total_pages }}</p>
        </div>

        <div class="right-side">
            <ul>
                {{ links:segments }}

                    {{ first }}
                        {{ if page == current_page }}
                            <li class="active"><span>{{ page }}</span></li>
                        {{ else }}
                            <li><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /first }}

                    {{ if slider }}
                        <li class="disabled"><span>...</span></li>
                    {{ /if }}

                    {{ slider }}
                        {{ if page == current_page }}
                            <li class="active"><span>{{ page }}</span></li>
                        {{ else }}
                            <li><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /slider }}

                    {{ if slider || (!slider && last) }}
                        <li class="disabled"><span>...</span></li>
                    {{ /if }}

                    {{ last }}
                        {{ if page == current_page }}
                            <li class="active"><span>{{ page }}</span></li>
                        {{ else }}
                            <li><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /last }}

                {{ /links:segments }}
            </ul>
        </div>
    </div>
{{ /paginate }}