<main class="faq-archive">

    <!-- TOP CONTENT -->
    <div class="top-content">
        {{ if content }}
            {{ content }}
        {{ /if }}
    </div>
    <!-- END TOP CONTENT -->

    <!-- POST COLLECTION -->
    {{ collection:faq as="faq_posts" sort="order" }}

        <!-- POST LOOP -->
        <div class="accordion faq-accordion">
            {{ faq_posts }}
                <div>
                    <div class="question">{{ title }}</div>
                    <div class="answer">{{ answer }}</div>
                </div>
            {{ /faq_posts }}
        </div>
        <!-- END POST LOOP -->

    {{ /collection:faq }}
    <!-- END POST COLLECTION -->

</main>