header {
    #nav {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;

        .inner-nav {
            @include flex(center, space-between);
            position: relative;
            height: $mobNavHeight;
            padding: 20px 18px;
            width: 100vw;
            box-shadow: 0 0px 5px 5px rgba(0, 0, 0, .25);
            background-color: #fff;

            .logo {
                height: 100%;
                width: auto;
            }
        
            .mob-nav {
                @include flex(center, flex-end);

                .burger {
                    .burger-icon {
                        $width: 40px;
                        $height: 40px;
                        $spanHeight: 5px;
                        $midSpanTop: ($height - $spanHeight) / 2;
                        $color: #303030;
    
                        width: $width;
                        height: $height;
                        position: relative;
                        transform: rotate(0deg);
                        transition: .5s ease-in-out;
    
                        span {
                            display: block;
                            position: absolute;
                            height: $spanHeight;
                            width: $width;
                            background: $color;
                            left: 0;
                            transform: rotate(0deg);
                            transition: .25s ease-in-out;
                            border-radius: 5px;
    
                            &:nth-child(1) {
                                top: 0;
                            }
    
                            &:nth-child(2), &:nth-child(3) {
                                top: $midSpanTop;
                            }
    
                            &:nth-child(4) {
                                top: $height - $spanHeight;
                            }
                        }
    
                        &.open {
                            span {
                                &:nth-child(1), &:nth-child(4) {
                                    top: $midSpanTop;
                                    width: 0%;
                                    left: 50%;
                                }
    
                                &:nth-child(2) {
                                    transform: rotate(45deg);
                                    width: $width;
                                }
    
                                &:nth-child(3) {
                                    transform: rotate(-45deg);
                                    width: $width;
                                }
                            }
                        }
                    }
                }
            }
    
            .desktop-nav {
                display: none;
            }
        }

        #mob-menu {
            display: block;
            position: fixed;
            z-index: -1;
            margin-top: -$mobNavHeight;
            padding-top: $mobNavHeight;
            height: 100vh;
            width: 100%;
            background-color: #E7E7E7;
            transform: translateY(-100%);
            transition-duration: 1s;
            overflow: scroll;
            box-shadow: 0 0px 5px 5px rgba(0, 0, 0, .15);

            &.active {
                transform: translateY(0);
            }
    
            a {
                text-transform: uppercase;
                font-size: 20px;
            }
    
            ul, li {
                list-style-type: none;
    
                a {
                    white-space: pre-wrap;
                }
            }
    
            > .accordion-container {
                width: 100%;
                padding-right: 5%;
                border-bottom: 1px solid #fff;
    
                > .accordion {
                    position: relative;
                    padding: 25px 0;
                    cursor: pointer;
    
                    svg {
                        position: absolute;
                        right: 0;
                        top: 27.5px;
                        transition-duration: .5s;
                    }
    
                    .accordion {
                        padding: 4% 0;
                    }
                }
            }
    
            .contact {
                padding: 25px 0;
            }
    
            .panel {
                flex-direction: column;
                padding: 5%;
            }
    
            .socials {
                padding: 27.5% 0 17.5% 0;
    
                .social-networks {
                    a {
                        &:before {
                            background-color: #fff;
                        }
    
                        &:after {
                            color: #b9b9b9;
                        }
                    }
                }
            }
    
            p {
                margin-bottom: 15%;
                text-align: center;
                font : {
                    size: 12px;
                    weight: 500;
                }
            }
        }
    }
}

/* TABLET */

@media #{$portrait-tablet} {
    header {
        #nav {
            .inner-nav {
                height: $tabletNavHeight;
                padding: 10px 30px;
            }
    
            #mob-menu {
                margin-top: -$tabletNavHeight;
                padding-top: $tabletNavHeight;
            }
        }
    }
}

@media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
    header {
        #nav {
            .inner-nav {
                height: $tabletNavHeight;
                padding: 10px 40px;
            }
    
            #mob-menu {
                margin-top: -$tabletNavHeight;
                padding-top: $tabletNavHeight;
            }
        }
    }
}

/* DESKTOP */

@media #{$laptop}, #{$desktop} {
    header {
        #nav {
            .inner-nav {
                height: $desktopNavHeight;
                padding: 10px 30px;

                .desktop-nav {
                    display: block;
                    height: 100%;

                    > div {
                        @include flex(center, flex-end);
                        height: 50%;
                    }
                }

                .mob-nav {
                    display: none;
                }
            }
    
            #mob-menu {
                display: none;
            }
        }
    }
}