// Owl Carousel
@import '~owl.carousel/dist/assets/owl.carousel.css';

// Pages and Posts
// @import "./resources/sass/globals";
// @import "./resources/sass/home";
// @import "./resources/sass/generic";
// @import "./resources/sass/blog";
// @import "./resources/sass/contact";
// @import "./resources/sass/thank-you";