<main id="has-posts" class="post-archive">
    <!-- FILTER BY BUTTONS -->
    <div id="filters">
        <button id="post" class="filter-btn active">Show all</button>
        {{ taxonomy from="blog_categories" }}
            <button id="{{ slug }}" class="filter-btn">{{ title }}</button>
        {{ /taxonomy }}
    </div>

    <!-- FILTER BY SELECT FORM -->
    <form id="filters">
        <div>
            <select id="filter" name="filter">
                <option value="post">Show All</option>
                {{ taxonomy from="post_categories" }}
                    <option value="{{ slug }}">{{ title }}</option>
                {{ /taxonomy }}
            </select> <br>

            <button id="apply-filter" type="submit">GO</button>
        </div>
    </form>

    <!-- BLOG POSTS -->
    <section class="posts-container" data-has-posts="6">
        {{ collection:posts sort="date:desc" }}
                <div class="post {{ if post_categories }}{{ post_categories }}{{ slug }}{{ /post_categories }}{{ endif }}">
                    <a href="{{ url }}"></a>
                </div>
        {{ /collection:posts }}
    </section>

    <!-- LOAD MORE BUTTON -->
    <div class="load-more">
        <button data-reveal="3" id="load-more" class="grey-orange">Load more</button>
    </div>

    <!-- PAGINATION -->
    <div class="pagination">
        <p>Page <span id="page-num"></span> of <span id="total-pages"></span></p>
        <div class="flex">
            <p id="prev">< Previous</p>
            <p id="next">Next ></p>
        </div>
    </div>
</main>

<style>
    .post {
        display: none;
    }
    
    .post.current-page {
        display: block;
    }
</style>